@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
* {
  font-family: "Source Serif Pro", serif;
  color: white;
}
html {
  background-color: rgb(57, 58, 58);
}
tr {
  border: solid 1px white;
}
th {
  font-size: large;
  border-bottom: solid 2px white;
}
.container {
  border: solid 2px white;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 1325px;
}
